.form__input--text {
  border: 1px solid var(--readerTealDark);
  border-radius: 5px;
  width: 100%;
  height: max-content;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.form__input--text:hover {
  border: 2px solid var(--readerTealDark);
  padding: 9px;
}

.form__input--text:focus {
  outline: none;
  border: 2px solid var(--readerTealDark);
  padding: 9px;
}

.form__input--buttons {
  text-align: end;
}

.form__input--buttons > button {
  background-color: var(--readerTealLight);
  color: var(--white);
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
}

.form__input--buttons > button:hover {
  cursor: pointer;
  box-shadow: 0 8px 8px -8px rgba(40, 153, 159, 1);
  transform: translateY(-1px);
}

.form__options--title {
  font-size: var(--optionTitle);
  font-weight: var(--weight700);
}

.form__options--subtitle {
  font-weight: var(--weight700);
}

.form__options {
  display: flex;
  flex-wrap: wrap;
}
