@import '../../styles.scss';

%border-style {
  border: 2px solid $readerTealDark;
  padding: 9px;
  outline: none;
}

.form__input--text {
  background-color: $white;
  border: 1px solid $readerTealDark;
  border-radius: 5px;
  width: 100%;
  height: max-content;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  resize: vertical;
  min-height: 100px;
  margin-bottom: 16px;

  &:hover {
    @extend %border-style;
  }

  &:focus {
    @extend %border-style;
  }
}

.form__input--buttons {
  text-align: end;

  & button {
    background-color: $readerTealLight;
    color: $white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
  }

  & button:hover {
    cursor: pointer;
    box-shadow: 0 8px 8px -8px rgba(40, 153, 159, 1);
    transform: translateY(-1px);
  }
}

.form__options--title {
  font-size: $optionTitle;
  font-weight: $weight700;
}

.form__options--subtitle {
  font-weight: $weight700;
}

.from__preview--separator {
  margin-top: 16px;
  width: calc(100% - 16px);
  background-color: #ffdd29;
  color: black;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
}

.from__preview--no-text {
  margin-top: 16px;
  text-align: center;
  color: gray;
}

.form__button--save {
  margin-top: 16px;
  width: 100%;
}

.form__button--font-size {
  margin: 0 8px;
  font-weight: bold;
}
