.option-card {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid var(--readerTealDark);
  border-radius: 5px;
  height: fit-content;
}

.option-card:hover {
  cursor: pointer;
  background-color: var(--readerTealDark);
  color: var(--white);
}

.option-card:hover > .option-card__title {
  color: var(--white);
}

.option-card__example {
  margin-bottom: 5px;
}

.option-card__title {
  text-transform: uppercase;
  font-size: var(--optionCardTitle);
  font-weight: var(--weight700);
  color: var(--readerTealDark);
}
