@import '../../styles.scss';

.output_resizer {
  padding: 5px 5px 5px 8px;
  margin-bottom: 15px;
  border-top: 1px solid $readerBlack;
  border-bottom: 1px solid $readerBlack;

  &:hover {
    @include hover-effect(0.15);
  }

  &:active {
    @include hover-effect(0.5);
  }
}

.output_resizer--left {
  @include rezizer-borders(5, 0, 0, 5);
}

.output_resizer--right {
  @include rezizer-borders(0, 5, 5, 0);
}

.output__title {
  font-size: $optionTitle;
  font-weight: $weight700;
  margin: 32px 0;
}
