@import '../../../colors';

%primary {
  background-color: $readerTealDark;
  color: $white;
}

%secondary {
  background-color: $readerYellow;
  color: #484848;
}

%contentWidth {
  width: fit-content;
}

%componentWidth {
  width: 100%;
}

.custom-button {
  padding: 8px 12px;
  margin: 8px 0;
  @extend %primary, %contentWidth;

  &.secondary {
    @extend %secondary;
  }

  &.secondary:hover {
    background-color: $readerYellowDark;
  }

  &.component {
    @extend %componentWidth;
  }
}
