@import '../../styles.scss';

@media (min-width: 768px) {
  %header-padding {
    padding: 32px 0;
  }
}

@media (max-width: 767px) {
  %header-padding {
    padding: 28px 0;
  }

  .header__logo {
    height: 100px;
  }
}

@media (max-width: 479px) {
  %header-padding {
    padding: 24px 0;
  }

  .header__logo {
    height: 70px;
  }
}

header {
  text-align: center;
  background-color: $readerBlack;
  color: $white;
  margin: 0 -1000% 24px -1000%;
  @extend %header-padding;
}
