@import '../../../styles.scss';

.reader-container {
  max-width: 900px;
  margin: 0 auto;
  min-height: calc(100vh - 237px - 118px);
  padding: 0 40px;
}

.reader__intro {
  margin-bottom: 16px;
  h3 {
    text-align: center;
  }

  & button {
    background-color: $readerTealLight;
    color: $white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  & button:hover {
    background-color: $readerTealDark;
  }

  & .reader__random-button {
    text-align: center;
  }
}

.reader__button {
  width: 100%;
  margin-top: 16px;
  font-weight: bold;
  font-size: 16px;
}

.reader__subtitle {
  text-align: center;
  margin: 16px 0;
}

.reader__filters {
  display: flex;
  justify-content: end;
  align-items: center;
}

.reader__empty {
  color: gray;
  font-size: 16px;
  text-align: center;
  margin: 32px;
}

@media (max-width: 767px) {
  .reader-container {
    min-height: calc(100vh - 178px - 118px);
    padding: 0 40px;
  }
}

@media (max-width: 479px) {
  .reader-container {
    min-height: calc(100vh - 140px - 118px);
    padding: 0 20px;
  }
}
