@import '../../../styles.scss';

.reader-card__sample {
  border: 3px dashed $readerRed;
  color: $readerRed;
  font-weight: bold;
  margin-right: 8px;
  padding: 4px 8px;
  border-radius: 4px;
  transform: rotate(-5deg);
}

.reader-card-container {
  border: 1px solid gray;
  padding: 16px;
  margin-top: 8px;
  border-radius: 8px;
}

.mr-16 {
  margin-right: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.reader-card__header--spacing,
.reader-card__options--spacing {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reader-card__date {
  margin-left: 4px;
  margin-bottom: 16px;
  font-size: 13px;
  color: $readerGray;
}

@media (max-width: 767px) {
  .reader-card__options--spacing {
    flex-direction: column;
    align-items: start;
  }

  .reader-card__header--spacing {
    align-items: start;
  }
}

@media (max-width: 479px) {
  .reader-card__sample {
    margin-top: 16px;
    margin-right: 0;
  }
}
