@import '../../../styles.scss';

.sample {
  border: 3px dashed $readerRed;
  color: $readerRed;
  font-weight: bold;
  margin-right: 8px;
  padding: 4px 8px;
  border-radius: 4px;
  transform: rotate(-5deg);
}

.reader-card-container {
  border: 1px solid gray;
  padding: 16px;
  margin-top: 8px;
  border-radius: 8px;
}

.mr-16 {
  margin-right: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.options-spacing {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reader-card--date {
  margin-left: 4px;
  margin-bottom: 16px;
  font-size: 13px;
  color: $readerGray;
}
