@import '../../../styles.scss';

.option-card__title {
  text-transform: uppercase;
  font-size: $optionCardTitle;
  font-weight: $weight700;
  color: $readerTealDark;
}
.option-card {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid $readerTealDark;
  border-radius: 5px;
  height: fit-content;
  @include card--hover();
}

.option-card--selected {
  @include card--active();
}

.option-card__example {
  margin-bottom: 5px;
}

@media (max-width: 479px) {
  .option-card,
  .option-card--selected {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  .option-card__example {
    margin-bottom: 0;
    margin-right: 5px;
  }

  .option-card__title {
    // font-size: 16px;
    display: flex;
    align-items: center;
    height: 16px;
  }
}
