.chip-box {
  background-color: teal;
  color: white;
  padding: 8px 12px;
  border-radius: 30px;
  margin: 0 8px 0 0;
  width: fit-content;
  font-size: 14px;
}

@media (max-width: 767px) {
  .chip-box {
    margin: 4px 8px 4px 0;
  }
}
