$white: #ffffff;
$readerBlack: #191919;
$readerGray: #717171;
$readerTealDark: #008080;
$readerTealLight: #138a8e;
$readerYellow: #fff48d;
$readerYellowDark: #ffdf29;
$readerRed: #d0523c;
$weight100: 100;
$weight700: 700;
$titleSizeLight: 28px;
$titleSizeStrong: 32px;
$optionTitle: 18px;
$optionCardTitle: 10px;
$opacity70: 0.7;
