h1 {
  color: teal;
  margin-left: 10px;
}

.App {
  max-width: 1360px;
  margin: 24px auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.header-image {
  height: 40px;
  width: 44px;
}

.header-image-box {
  padding: 20px;
  width: fit-content;
  border-radius: 50%;
  background-color: teal;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}

.time-search-container {
  border-radius: 5px;
  border: 1px solid teal;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}

input[type='text'] {
  border: none;
}

.search-container-icon {
  color: rgba(0, 128, 128, 0.2);
  height: 20px;
}

table {
  margin: 10px auto;
  border-collapse: collapse;
}

.p5 {
  padding: 5px;
}

.current-time {
  margin: 24px 0 10px;
  font-weight: 700;
}
