@import '_colors';
@import '_mixins';

:root {
  font-family: Arial, Helvetica, sans-serif;
  color: $readerBlack;
  font-size: 16px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow-x: hidden;
}

.App {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}

.icon {
  cursor: pointer;
  color: grey;

  &.icon-close {
    position: absolute;
    top: -16px;
    right: -16px;
    margin: 0;
  }

  &.icon-close:hover {
    color: $readerRed;
  }

  &.icon-delete:hover {
    color: $readerRed;
  }

  &.icon-edit:hover {
    color: teal;
  }

  &.icon-view:hover {
    color: teal;
  }
}

.bionic-opacity {
  opacity: $opacity70;
}

.bionic-highlight {
  font-weight: $weight700;
}

/* || UTILITIES */

.mr-8 {
  margin-right: 8px;
}

.mr-48 {
  margin-right: 48px;
}

.center-vertical {
  display: flex;
  align-items: center;
}

.flex-horizontal-end {
  display: flex;
  justify-content: flex-end;
}

.inline-block {
  display: inline-block;
}

.mt-16 {
  margin-top: 16px;
}

@media (max-width: 767px) {
  .icon {
    margin-right: 0;
    margin: 16px 16px 0 0;
  }
}

@media (max-width: 479px) {
  .center-vertical {
    flex-direction: column;
    align-items: start;
  }
}
