@import '_colors';
@import '_mixins';

:root {
  font-family: Arial, Helvetica, sans-serif;
  color: $readerBlack;
  font-size: 16px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow-x: hidden;
  /* user-select: none; */
}

.App {
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}

@media (max-width: 979px) {
  .App {
    padding: 0 40px;
  }
}

@media (max-width: 479px) {
  .App {
    padding: 0 20px;
  }
}

.bionic-opacity {
  opacity: $opacity70;
}

.bionic-highlight {
  font-weight: $weight700;
}

/* || UTILITIES */

.mr-8 {
  margin-right: 8px;
}

.mr-48 {
  margin-right: 48px;
}

.center-vertical {
  display: flex;
  align-items: center;
}

.flex-horizontal-end {
  display: flex;
  justify-content: flex-end;
}

.inline-block {
  display: inline-block;
}

.mt-16 {
  margin-top: 16px;
}
