:root {
  font-family: Arial, Helvetica, sans-serif;
  color: #191919;
  font-size: 16px;
  --white: #ffffff;
  --readerBlack: #191919;
  --readerTealDark: #008080;
  --readerTealLight: #138a8e;
  --readerYellow: #fff48d;
  --weight100: 100;
  --weight700: 700;
  --titleSizeLight: 28px;
  --titleSizeStrong: 32px;
  --optionTitle: 18px;
  --optionCardTitle: 10px;
  --opacity70: 0.7;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow-x: hidden;
  /* user-select: none; */
}

.App {
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}

@media (max-width: 979px) {
  .App {
    padding: 0 40px;
  }
}

@media (max-width: 479px) {
  .App {
    padding: 0 20px;
  }
}

.bionic-opacity {
  opacity: var(--opacity70);
}

.bionic-highlight {
  font-weight: var(--weight700);
}

/* || UTILITIES */

.mr-8 {
  margin-right: 8px;
}

.mr-48 {
  margin-right: 48px;
}

.center-vertical {
  display: flex;
  align-items: center;
}

.flex-horizontal-end {
  display: flex;
  justify-content: flex-end;
}

.inline-block {
  display: inline-block;
}
