@import '_colors';
@import '_mixins';

:root {
  font-family: Arial, Helvetica, sans-serif;
  color: $readerBlack;
  font-size: 16px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow-x: hidden;
}

.App {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}

.icon {
  cursor: pointer;
  color: grey;

  &.icon-close {
    position: absolute;
    top: -16px;
    right: -16px;
    margin: 0;
  }

  &.icon-close:hover {
    color: $readerRed;
  }

  &.icon-delete:hover {
    color: $readerRed;
  }

  &.icon-edit:hover {
    color: teal;
  }

  &.icon-view:hover {
    color: teal;
  }
}

.bionic-opacity {
  opacity: $opacity70;
}

.bionic-highlight {
  font-weight: $weight700;
}

/* || UTILITIES */

.mr-8 {
  margin-right: 8px;
}

.mr-48 {
  margin-right: 48px;
}

.center-vertical {
  display: flex;
  align-items: center;
}

.flex-horizontal-end {
  display: flex;
  justify-content: flex-end;
}

.inline-block {
  display: inline-block;
}

.display-flex {
  display: flex;
}

.mt-16 {
  margin-top: 16px;
}

.mt-32 {
  margin-top: 32px;
}

.mb-16 {
  margin-bottom: 16px;
}

.px-16 {
  padding: 0 16px;
}

.my-16 {
  margin: 16px 0;
}

.modal-container {
  z-index: 1;
  background-color: $white;
  box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.5);
  padding: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  width: 500px;

  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .modal-container {
    width: calc(100vw - 100px);
  }
}

@media (max-width: 479px) {
  .modal-container {
    padding: 24px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px grey;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .icon {
    margin-right: 0;
    margin: 8px 0 0 0;
  }
}

@media (max-width: 479px) {
  .center-vertical {
    flex-direction: column;
    align-items: start;

    &.direction-row {
      flex-direction: row;
      align-items: center;
    }

    &.direction-column {
      flex-direction: column-reverse;
    }
  }
}
